<div class="main-container">
    <div class="status">
        <img src="assets/images/mesized.png"/>
        <div class="my-name">
            <h1>Bastien GOUZERCH</h1>
            <p>Full-stack Developper</p>
        </div>
    </div>

    <div class="skills">
        <div class="skill">
            <div class="card-info">
                <h2>HTML</h2>
                <p>PS5 Version</p>
                <div class="progress"></div>
            </div>
        </div>
        <div class="skill">
            <div class="card-info">
                <h2>CSS</h2>
                <p>PS5 Version</p>
                <div class="progress">60%</div>
            </div>
            </div>
        <div class="skill">
            <div class="card-info">
                <h2>Spiderman Miles Morales</h2>
                <p>PS5 Version</p>
                <div class="progress"></div>
            </div>
        </div>
        <div class="skill">
            <div class="card-info">
                <h2>Spiderman Miles Morales</h2>
                <p>PS5 Version</p>
                <div class="progress"></div>
            </div>
        </div>
    </div>
</div>
