h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
  }

 .status {
    margin: 3rem;
    display: flex;
    flex-direction: row;

    img {
      margin-right: 10%;
    }

    .my-name {
      display: flex;
      flex-direction: column;
    }

  }
  
  .main-container {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .skill {
    display: flex;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 1rem 0rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
  }
  .link {
    display: flex;
    padding: 1em 5em;
    align-items: center;

    h2 {
        padding: 0rem 2rem;
    }
  }

  
  .pro {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    position: relative;

    img {
        position: absolute;
        top: -10%;
        right: 10%;
      }

      h2 {
        width: 40%;
        color: white;
        font-weight: 600;
      }
  }