<div class="main-container">
    <div class="status">
        <h1>Bastien</h1>
    </div>
    <div class="cards">
        <div class="card">
        <img src="./images/assassins.png" alt="" />
        <div class="card-info">
            <h2>Assassins Creed Valhalla</h2>
            <p>PS5 Version</p>
            <div class="progress"></div>
        </div>
        <h2 class="percentage">60%</h2>
        </div>
        <div class="card">
        <img src="./images/sackboy.png" alt="" />
        <div class="card-info">
            <h2>Sackboy A Great Advanture</h2>
            <p>PS5 Version</p>
            <div class="progress"></div>
        </div>
        <h2 class="percentage">60%</h2>
        </div>
        <div class="card">
        <img src="./images/spiderman.png" alt="" />
        <div class="card-info">
            <h2>Spiderman Miles Morales</h2>
            <p>PS5 Version</p>
            <div class="progress"></div>
        </div>
        <h2 class="percentage">60%</h2>
        </div>
    </div>
</div>