<div class="dashboard">
    <div class="user">
      <img src="assets/images/mesized.png" alt="" />
      <h3>Bastien GOUZERCH</h3>
      <p>Web developper</p>
    </div>
    <div class="links">
      <div class="link">
        <img src="assets/images/twitch.png" alt="" />
        <h2>ME</h2>
      </div>
      <div class="link">
        <img src="assets/images/steam.png" alt="" />
        <h2>MY STACK</h2>
      </div>
      <div class="link">
        <img src="assets/images/upcoming.png" alt="" />
        <h2>PROJECTS</h2>
      </div>
    </div>
    <div class="pro">
      <h2>Join pro for free games.</h2>
      <img src="assets/images/controller.png" alt="" />
    </div>
  </div>