html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: radial-gradient(#ffa938, #4f57c7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .glass {
    margin-top: 5%;
    margin-bottom: 5%;
    background: white;
    min-height: 80vh;
    width: 75%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
  }
  .circle {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle1 {
    top: 5%;
    right: 10%;
  }
  .circle2 {
    bottom: 30%;
    left: 10%;
  }
  .circle3 {
    bottom: 50%;
    left: 30%;
  }
  .circle4 {
    bottom: 70%;
    left: 50%;
  }
  .circle5 {
    top: 90%;
    right: 70%;
  }
  
  
 