* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin-bottom: 5%;
}

.section-title {
    user-select: none;

    font-weight: 600;
    font-size: 200%;
    margin: 5%;
    opacity: 0.8;
}


hr.divider {
    user-select: none;

    width: 80%;
    border-top: 2px solid #426696;
    border-radius: 10px;
    opacity: 0.25;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}